 .main-content {
    grid-area: main;
    }
    .nav {
      grid-area: nav;
    }
    .header {
      grid-area: header;
    }
    .footer {
      grid-area: footer;
    }
   body {
      diplay: grid;
      grid-template-columns: auto;
      grid-template-rows: repeat(auto-fill, minmax(100vh, 1fr));
      grid-template-areas:
        'header header header'
        'nav main main'
        'nav main main'
        'footer footer footer';
   }
   .flex-container {
      display: flex;
    }
