
   .grid-container {
      diplay: grid;
      grid-template-columns: auto;
      grid-template-rows: repeat(auto-fill, minmax(100vh, 1fr));
      grid-template-areas:
        'header header header'
        'nav main main'
        'nav main main'
        'footer footer footer';
      justify-content: center;
      align-items: center;
    }
    .main-content {
      grid-area: main;
    }
    .flex-container {
      display: flex;
      column-gap: 10px;
      text-color: wheat;
      font-weight: bold;
    .nav {
      grid-area: nav;
    }
    .header {
      grid-area: header;
      color: darkbrown;
      font-weight: bold;
    }
    ul {
      list-style-type: square;
    }
    a:link {
      color: eggshell;
    }
    .footer {
      grid-area: footer;
    }
