    body {
      font-family: Garamond, serif;
      background-color: beige;
      display: grid;
      grid-column: 1 / 2;
      grid-gap: 1em;
      justify-content: center;
      text-align: center;
    }
    .flex-container {
      display: flex;
      column-gap: 10px;
      row-gap: 10px;
      text-color: #4b3621;
      font-weight: bold;
      align-items: center:
      justify-content: center;
      background-color: white;
      border: solid saddlebrown;
    }
    .nav {
      
      color: cream;
      font-weight: bold;
      border: solid saddlebrown;
    }
    h1 {
      color: darkbrown;
      font-weight: bold;
    }
    ul {
      list-style-type: none;
      justify-content: center;
      align-items: center;
    }
    header {
      border: solid saddlebrown;
    }
