* {
      font-family: Garamond, serif;
      background-color: beige;
    }
    .flex-container {
      display: flex;
      flex: 2;
      flex-wrap: wrap;
      flex-direction: row;
      text-color: #4b3621;
    }
    .nav {
      color: cream;
      background-color: white;
      
    }
    h1 {
      color: darkbrown;
      font-weight: bold;
    }
